*/paper/prior.synctex.gz
*/paper/prior.pdf
*/paper/prior.log
*/salt2018/abstract.synctex.gz
*/salt2018/abstract.pdf
*/salt2018/abstract.log
*.RData
*/node_modules/
*.bbl
*.blg
*.log
*.synctex.gz
*.aux
*.synctex.gz
*.toc
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store*
*catch_trials.csv
*subject_information.csv
*system.csv
*trials.csv
*mturk.csv
*mturk/
*.gitattributes
