# Latex files
# .pdf .aux .toc .bbl . blg .synctex.gz
**.pdf
**.synctex.gz
**.log
**.aux
**.toc
**.bbl
**.blg

# Other files */node_modules/
*.RData
*.config
*.input
*.properties
*.question
*.results
*.success
*_invoice.csv
*.Rhistory
*.DS_Store*
*catch_trials.csv
*subject_information.csv
*system.csv
*trials.csv
*mturk.csv
*mturk/
*.gitattributes
